
*.aux

*.bbl

*.blg

*.lof

*.log

*.lot

*.gz

*.toc

*.dvi

*.synctex(busy)

*.dropbox

*.ini

*.iml

.gradle

.externalNativeBuild

.DS_Store

*.o

.metadata
.classpath
.settings/
.cproject

src/RaceTracker/local.properties
src/RaceTracker/.idea/libraries
src/RaceTracker/.idea/modules.xml
src/RaceTracker/.idea/workspace.xml
src/RaceTracker/build
src/RaceTracker/captures

src/RaceSensor/build

src/RaceGateway/out
